@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-founder-grotesk);
  --font-display: var(--font-gt-super-display);
  --color-accent: #ab2007;
  --color-soft-black: #1f1f1f;
  --color-off-white: #f8f8f7;
  --color-light-gray: #dddddd;
}

body::-webkit-scrollbar {
  display: none;
}
